<html>
	<head>
	  <meta charset="utf-8">
	  <title>OpenMC</title>
	  <meta name="OpenMC: A high quality vanilla Minecraft server.">
	  <link rel="shortcut icon" type="image/png" href="https://www.mc-heads.net/head/Computerology"/>
	  <link rel="stylesheet" href="/css/stylesheet.css">
	</head>

	<body>
		<br><center><img src = "/images/logo.png"></img></center><br>
		<center>
			<div class="navbar">
				<a id = "aboutLink" class = "navlink" href = "/about">ABOUT</a>
				<a id = "updatesLink" class = "navlink" href = "/updates">UPDATES</a>
				<a id = "playersLink" class = "navlink" href = "/players">PLAYERS</a>
				<a id = "storeLink" class = "navlink" href = "https://officialopenmc.buycraft.net/">STORE</a>
				<a id = "statsLink" class = "navlink" href = "/stats">STATISTICS</a>
				<a id = "contactLink" class = "navlink" href = "/contact">CONTACT</a>
				
			</div>
		</center>
		<br>
		{{{body}}}
	</body>

</html>