<html>
	<head>
	  <meta charset="utf-8">
	  <title>OpenMC</title>
	  <meta name="OpenMC: A high quality vanilla Minecraft server.">
	  <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
	  <link rel="stylesheet" href="/css/stylesheet.css">
	</head>

	<body>
		<br><center><img src = "/images/logo.png"></img></center><br>
		<center>
			<div class="navbar">
				<a id = "aboutLink" class = "navlink" href = "/about">ABOUT</a>
				<a id = "mapLink" class = "navlink" href = "/map">MAP</a>
				<a id = "updatesLink" class = "navlink disabled" href = "#">UPDATES</a>
				<a id = "playersLink" class = "navlink disabled" href = "#">PLAYERS</a>
				<a id = "storeLink" class = "navlink" href = "https://officialopenmc.buycraft.net/">STORE</a>
				<a id = "statsLink" class = "navlink disabled" href = "#">STATISTICS</a>
				<a id = "contactLink" class = "navlink disabled" href = "#">CONTACT</a>
			</div>
		</center>
		<br>
		{{{body}}}
	</body>

</html>