<html>
	<head>
		<meta charset="utf-8">
		<title>OpenMC</title>
		<meta name="OpenMC: A high quality vanilla Minecraft server.">
		<link rel="shortcut icon" type="image/png" href="images/icons/favicon.png"/>
		<link rel="stylesheet" href="/css/stylesheet.css">
		<link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"> 
	</head>

	<body>
		<br><center><img src = "/images/logo.png"></img></center><br>
		<center>
			<div class="panel fit-width shadow">
				<a id = "aboutLink" class = "navlink" href = "/about">ABOUT</a>
				<a id = "newsLink" class = "navlink disabled" href = "#">NEWS</a>
				<a id = "storeLink" class = "navlink" href = "https://officialopenmc.buycraft.net/" target = "_blank">STORE</a>
				<a id = "playersLink" class = "navlink" href = "/players">PLAYERS</a>
				<a id = "statsLink" class = "navlink disabled" href = "#">STATISTICS</a>
				<a id = "mapLink" class = "navlink" href = "/map">MAP</a>
				<a id = "contactLink" class = "navlink disabled" href = "#">CONTACT</a>
			</div>
		</center>
		<br>
		{{{body}}}
	</body>

</html>