<div class = "container" style = "margin-top: 15px;">
    <div class = "row">
        <div class = "column" style = "margin-top: 25%;">
            <img src = "/images/disc.png"></img>
        </div>
    </div>
    <div class = "row" style = "margin-top: 15px;">
        <div class = "column">
            <h4 class = "white">There's nothing here.</h4>
            <a href = "/"><button class = "button-primary">Back to OpenMC.net</button></a>
        </div>
    </div>
</div>