<div class = "container panel" style = "margin-top: 15px;">
	<br>
	<center>
		<img title = 'Computerology, OpenMC Creator and Developer' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Computerology/64' height = '128px'>
		<img title = 'SimpleScott, Q/A and Testing' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/SimpleScott/64' height = '128px'>
		<img title = 'Moosha, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Moosha/64' height = '128px'>
		<img title = 'Vi11ager, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Vi11ager/64' height = '128px'>
		<img title = 'Xoi, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Xoi/64' height = '128px'>
		<img title = 'Prince_of_Shadow, Honorary Member' src = 'https://www.mc-heads.net/body/Prince_of_Shadow/64' height = '128px'>
	</center>
	<br>
	<div class = "container">
		<center><h2>What is OpenMC?</h2></center>
		This server is designed to be a quality Minecraft experience for players who don't want the normal bullshit
		of most online servers today. It's a minimalist server with a strong focus on quality and community.
		You can invite your friends and feel secure knowing that your builds will always be around,
		and that you don't have to deal with other players if you don't want to.<br><br>
		I'm developing a custom plugin for it that adds grief protection, land claiming, community votes, chat filtering and more. 
		I'm also slowly building up this website which serves as a companion to the game server. It will show player statistics
		and other information.<br><br>
		The server is membership based because I want to protect the integrity of the community from random players who only join
		to cause trouble for myself and the others. Additional land plots that protect your builds from damage are also purchasable for a few cents.
		<br><br>Beyond that, there is nothing else sold on the server store. I don't want to include exploitative in-game purchases.<br><br>
		There's an in-game Capital City being built that will have a marketplace and an arena, both of which players can participate with the emeralds
		they've earned in-game (through mining and trading).<br><br>
		Below you can see some more information about the server, our staff and plugins.
	</div>
</div>
<div class = "container top-space">
	<div class = "row">
		<div class = "one-half column panel">
			<h3>Server Staff</h3>
			<table class = "u-full-width">
				<tbody>
					<tr>
						<td><center><img src = "https://www.mc-heads.net/head/Computerology/48"></center></td>
						<td>Computerology</td>
						<td>Owner</td>
					</tr>
					<tr>
						<td><center><img src = "https://www.mc-heads.net/head/SimpleScott/48"></center></td>
						<td>SimpleScott</td>
						<td>Builder</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class = "one-half column panel">
			<h3>Plugins</h3>
			<ul>
				<li>OpenMC (custom plugin)</li>
				<li>Dynmap (dynamic world map)</li>
				<li>CoreProtect (grief protection)</li>
				<li>Buycraft (payment processing)</li>
				<li>WorldEdit (building the Capital)</li>
			</ul>
		</div>
	</div>
</div>