<script>document.getElementById("aboutLink").style.textDecoration = "underline";</script>

<div class = "center">
	<div class="center grid">
			<div style = "margin-bottom: 10px;" class = "content shadow">
				<b>Server IP</b><br>
				<b style = "color: green; font-size: 24px;">167.114.65.184:25620</b><br>
			</div>
			<div style = "margin-bottom: 10px;" class = "content shadow">
				<center>
					<a href = "https://discord.gg/sa8TNME"><img src = "images/discord.png"></img></a>
				</center>
			</div>
			<div style = "margin-bottom: 10px;" class = "content shadow">
				<b>Click here to</b><br>
				<a target = "_blank" style = "text-decoration: underline; font-size: 24px;" href = "https://officialopenmc.buycraft.net/category/1234599">buy more server time</a>
			</div>
		

		<div class = "content shadow">
			<img width = "100%" src = "/images/features/banner.png"></img>
			<br><br>
			<b>EASY LAND CLAIMING</b><br>
			Just place a banner.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/random.png"></img>
			<br><br>
			<b>RANDOM SPAWNS</b><br>
			Spawn away from other players.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/friends.png"></img>
			<br><br>
			<b>FRIEND GROUPS</b><br>
			Build with friends on your plots.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/emeralds.png"></img>
			<br><br>
			<b>EMERALD CURRENCY</b><br>
			Buy and sell goods in the Capital with emeralds. No microtransactions or in-game currency.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/spam.png"></img>
			<br><br>
			<b>NO CHAT SPAM</b><br>
			Opt-out of global chat. No server ads or begging for votes.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/griefing.png"></img>
			<br><br>
			<b>NO GRIEFING</b><br>
			All players have a reputation score. Excessive abuse will lead to a ban.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/reset.png"></img>
			<br><br>
			<b>NO WORLD RESETS</b><br>
			...unless the community votes for it.
		</div>
		<div class = "content shadow">
			<img width = "100%" src = "/images/features/prepaid.png"></img>
			<br><br>
			<b>HOW IS THE SERVER FUNDED?</b><br>
			Please click <a href = "/philosophy">here</a> to read an explanation about the server's philosophy towards donations.
		</div>
	</div>
	

</div>