<div class = "container panel top-space bottom-space">
	<br>
	<center>
		<img title = 'Computerology, OpenMC Creator and Developer' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Computerology/64' height = '128px'>
		<img title = 'SimpleScott, Q/A and Testing' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/SimpleScott/64' height = '128px'>
		<img title = 'Moosha, Builder' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Moosha/64' height = '128px'>
		<img title = 'Vi11ager, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Vi11ager/64' height = '128px'>
		<img title = 'Xoi, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Xoi/64' height = '128px'>
		<img title = 'Prince_of_Shadow, Honorary Member' src = 'https://www.mc-heads.net/body/Prince_of_Shadow/64' height = '128px'>
	</center>
	<br>
	<div class = "container">
		<center><h2>What is OpenMC?</h2></center>

		This server is designed to be a quality Minecraft experience for players who don't want the normal bullshit
		of most online servers today. It's a minimalist server with a strong focus on quality and community.
		You can invite your friends and feel secure knowing that your builds will always be around,
		and that you don't have to deal with other players if you don't want to.<br><br>

		I've been playing Minecraft for a long time, and the sheer number of spammy, greedy servers is upsetting.
		I miss the older servers where communities were more close-knit, and less monetized.
		So, I am hoping to capture that sense of community once again.<br><br>

		OpenMC strongly resembles the vanilla single-player experience. All players have a unique, random spawn.
		The server will rarely post anything in the chat.
		Most server functions can be done using regular vanilla items that feel natural.
		For example, to claim land all you have to do is place down a banner.
		That is something I think banners work really well for (factions and land, etc.), so I added it.
		There's an in-game Capital City being built that will have a marketplace and an arena, both of which players can participate with the emeralds
		they've earned in-game (through mining and trading).
		I am also adding grief protection, land claiming, community votes, chat filtering and more.<br><br>

		Furthermore, this website will serve as a companion to the game server. It will show player statistics
		and other information.<br><br>

		Oh, and one more thing. Unless demanded by the community, there will be <b>no world resets.</b>
		I've never liked most survival servers because of how often they reset.
		What's the point of building something if it's going to be gone in two months?
		<i>As long as the server has enough money to stay afloat, I will not reset the world without the community's input.</i>
		And if we do have to reset, <b>I will make the entire world available as a download.</b><br><br>

		New players spawn in a random location within range of the Capital City. If the spawns are getting too crowded over time, I'll
		expand the radius.<br><br>

		<b>How is the server funded?</b><br><br>

		There are three ways the server acquires funding:<br><br>

		<ol>
			<li>A small, one-time membership fee.</li>
			<li>Selling land plots (to be claimed anywhere via a banner).</li>
			<li>Donations from players who want to provide additional support (100% optional).</li>
		</ol>

		All new players have two weeks to play on the server and decide how they feel about it.
		The membership fee is there to keep only the dedicated players who aren't looking to cause trouble.
		I think a <i>one-time</i> fee of $5 (USD) is perfectly reasonable.
		It's a good balance between warding off trolls and not being too expensive for the normal, friendly players.<br><br>

		The land plots are sold for $0.50 each (less if purchased in bulk) and are 50x50x50 blocks in size (well, technically they are a 25-block radius).
		Not only are they permanent, you can move your plots at will, and all players start with two!<br><br>

		Player donations are <i>entirely optional</i> and will never be pushed by myself or the server.<br><br>

		I will post a full transparency report detailing server expenses and income once we have more players.<br><br>

		<b>There's no staff online. Who can I talk to if I have a problem?</b><br><br>

		You can use the contact form above to send me a direct email. Or, you can post in the Discord, found on the home page.
		I don't want to spend all my time moderating this server, so I strongly encourage people to come to me with anything and everything
		(so I don't have to keep checking up on it).<br><br>

		I will be adding a messaging feature into the server so that you can send reports and complaints to me easily.<br><br>

		As a side note, if you want to volunteer to become a moderator, just ask me.<br><br>

		As <i>another</i> side note, a lot of community decisions will be made <i>by the community</i>, through in-game polls. Eventually.
		I have to implement it first!<br><br>

		<b>Here is a full list of the plugins installed on the server:</b><br><br>

		<ul>
			<li>OpenMC (my custom plugin)</li>
			<li>Dynmap (dynamic world map)</li>
			<li>CoreProtect (grief protection and block rollbacks)</li>
			<li>Buycraft (payment processing)</li>
			<li>WorldEdit (mostly to help with building the capital)</li>
		</ul>

		<br>
		Thanks for reading,<br>
		Computerology (OpenMC creator)

	</div>
</div>