<script>document.getElementById("aboutLink").style.textDecoration = "underline";</script>

<div class = "content">
	<center>
		<img title = 'Computerology, OpenMC Creator and Developer' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Computerology/64' height = '128px'>
		<img title = 'SimpleScott, Q/A and Testing' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/SimpleScott/64' height = '128px'>
		<img title = 'Moosha, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Moosha/64' height = '128px'>
		<img title = 'Vi11ager, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Vi11ager/64' height = '128px'>
		<img title = 'Xoi, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Xoi/64' height = '128px'>
		<img title = 'Prince_of_Shadow, Honorary Member' src = 'https://www.mc-heads.net/body/Prince_of_Shadow/64' height = '128px'>
	</center>
	<br>
	<center><b>What is OpenMC?</b></center><br>
	OpenMC is a custom vanilla Minecraft server that aims to fix many of the problems that come with most servers today. The goal is to give people a friendly, no-bullshit place to play the game with their friends.
	OpenMC is as close to single-player as you can get, while still protecting players from griefing and other abusive behaviors.
	<br><br>
	<center><b>What makes it different from other servers?</b></center>
	<ol>
		<li><b>Easy land claiming: </b>Place a banner to protect the area around you from others. No commands or permissions required.</li>
		<li><b>Randomized spawns: </b>Everyone has the option to start in an untouched part of the world, away from other players.</b></li>
		<li><b>Friend groups: </b>Group up with your friends to build together on the same plots.</li>
		<li><b>Player reputation: </b>Players gain reputation the longer they play. Hurting others (or their creations) will also hurt your reputation. 
				When reputation drops too low, you are banned.</li>
		<li><b>No chat spam: </b>Choose whether you want to see messages from people around you, friends or everybody on the server.
				<i>The server will never beg for donations or votes.</i></li>
		<li><b>No micro-transactions: </b>Members can buy more land plots using 
			<span style = 'color: green;'>emeralds</span> (which are used as the official server currency), but 
				<i>emeralds can't be purchased with real money.</i> The only upgrade players can buy is a <a class = 'ul' href = "/membership">membership</a>.</li>
		<li><b>NO WORLD RESETS: </b>Losing your builds every few weeks defeats the purpose of playing.
			<i>The only time the world will reset is if the majority of members vote for it.</i></li>
	</ol>
	<center><b>Is it free to play on?</b></center><br>
	You can play on the server as a non-member but you will only be able to claim one plot of land (50x50x50). You not be able to create groups,
	but you will be able to join existing groups. Non-members will also be kicked after 5 minutes of inactivity
	(this is to preserve bandwidth and eliminate mob farm idling for people who have not donated or paid for a membership).<br>
</div>