<div class = "container failure-panel" style = "margin-top: 15px;">
    This page is not finished. Please direct any questions and comments to the Discord server (found <a href = "/">here</a>).
</div>

<div class = "container top-space bottom-space">
    <div class = "one-half column panel">
        <form>
            <div class="row">
                <div class="six columns">
                    <label for="exampleEmailInput">Your email</label>
                    <input class="u-full-width" type="email" placeholder="example@host.com" id="exampleEmailInput">
                </div>
                <div class="six columns">
                    <label for="exampleRecipientInput">Reason for contacting</label>
                    <select class="u-full-width" id="exampleRecipientInput">
                        <option value="Option 1">General questions</option>
                        <option value="Option 2">Ban appeal</option>
                        <option value="Option 3">Reporting a player</option>
                        <option value="Option 3">Reporting a bug</option>
                    </select>
                </div>
            </div>
            <label for="exampleMessage">Message</label>
            <textarea class="u-full-width" placeholder="Write your message here" id="exampleMessage"></textarea>
            <label class="example-send-yourself-copy">
            <input type="checkbox">
            <span class="label-body">Send a copy to yourself</span>
            </label>
            <input class="button-primary" type="submit" value="Submit">
        </form>
    </div>

    <div class = "one-half column info-panel">
        <h4>Contact me</h4>
        If you have any questions or concerns, please use the form to the left. It will send an email to me.
        I will try my best to get back to you as soon as I can.
        <br><br>
        <i>- Computerology, OpenMC creator</i>
    </div>
    
</div>