<script>document.getElementById("membershipLink").style.textDecoration = "underline";</script>

<div class = "content">
	This is for information on membership (becoming a member, and the perks of doing so).
</div>