<div class = "container" style = "margin-top: 15px;">
	{{#each posts}}
		<div class = "row" style = "margin-bottom: 10px;">
			<div class = "column panel">
				<b>{{title}}</b> (posted by {{author}}<br>
				{{contents}}
			</div>
		</div>
	{{/each}}
</div>