<div class = "center content form">
	<div class = "center">
		<center>
			<img title = 'Computerology, OpenMC Creator and Developer' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Computerology/64' height = '128px'>
			<img title = 'SimpleScott, Q/A and Testing' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/SimpleScott/64' height = '128px'>
			<img title = 'Moosha, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Moosha/64' height = '128px'>
			<img title = 'Vi11ager, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Vi11ager/64' height = '128px'>
			<img title = 'Xoi, Honorary Member' style = 'padding-right: 15px;' src = 'https://www.mc-heads.net/body/Xoi/64' height = '128px'>
			<img title = 'Prince_of_Shadow, Honorary Member' src = 'https://www.mc-heads.net/body/Prince_of_Shadow/64' height = '128px'>
		</center>
		<center><h2>OpenMC's Philosophy</h2></center>
		<div class = "center">
			OpenMC is a pay-as-you-play server. 
			I understand this will alienate players, so here is my justification for this.
			<br><br>
			I want to give back to the Minecraft community. 
			There are too many exploitative servers that profit off kids and their naivety in video games. 
			I'm designing this server to be as close to vanilla as possible, with griefing protection measures built in (like a reputation system, for example).
			<br><br>
			I figure that if people (especially the older players like myself) want something like that, they'd be willing to pay a small amount to support it. 
			I thought about a monthly subscription, but I don't want people to feel like they are wasting their money if they don't play for a month or two. 
			So I decided to make the server pay-as-you-play. With the exception that new players always start off with a certain
			number of hours, so that they can see if they enjoy the server before committing to it.
			<br><br>
			There are two main benefits to this model. 
			First, it increases community dedication and quality by filtering out those who are only joining
			to get some cheap thrills by griefing or killing other players.
			Second, it ensures that as long as people are playing on the server, the server will be sufficiently
			funded.
			<br><br>
			This server is designed to be a quality Minecraft experience for players who don't want the normal bullshit
			of most online servers today. It's a minimalist server with (hopefully) easy-to-use features. So if you have any suggestions or feedback regarding the pay-as-you-play model
			or the server in general, please feel free to contact me at the link in the navbar.
			<br><br>
			If you find yourself agreeing with everything I've written here, and would like to join the server,
			you can find the IP address and the link to purchase server time on this website.
			<br><br>
			Thanks!
			<br><br>
			<i>- Computerology, OpenMC Creator/Developer</i>

		</div>
	</div>
</div>