<script>document.getElementById("playersLink").style.textDecoration = "underline";</script>

<div class = "content">
	<table class = "default" id = "playerTable">
		<tr><td><center><img src = "/images/loading.gif"></img></center></td></tr>
	</table>
</div>