<script>document.getElementById("playersLink").style.textDecoration = "underline";</script>

<div class = "center content">
	<table class = "default" id = "playerTable">
		<tr><th>Avatar</th><th>Username</th><th>Reputation</th></tr>
		{{#each players}}
			<tr>
				<td><img src = "https://www.mc-heads.net/avatar/{{name}}/32"></td>
				<td>{{name}}</td>
				<td>{{rep}}</td>
		{{/each}}
	</table>
</div>