<link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css"></script>
<script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>

<script>document.getElementById("statsLink").style.textDecoration = "underline";</script>

<div class = "content" id = "contentPane">
    <div id = "moneyStats">
        <div id = "playerStats">
            <center><img src = "/images/loading.gif"></img></center>
        </div>
    </div>
</div>
</script>

<script>

    function refreshChart() {
        var data = {
            // A labels array that can contain any sort of values
            labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri'],
            // Our series array that contains series objects or in this case series data arrays
            series: [
                [5, 2, 4, 2, 0]
            ]
        };

        // Create a new line chart object where as first parameter we pass in a selector
        // that is resolving to our chart container element. The Second parameter
        // is the actual data object.
        new Chartist.Line('.chart', data);
    }
    

</script>